<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AgileDevTools</span>
    <span>
      <a mat-button routerLink="" class="header-button">Exchanges</a>
    </span>
    <span>
      <a mat-button routerLink="private" class="header-button">Login</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-menu" mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
