<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list class="grit-list" cols="1" rowHeight="580px" cdkDropList (cdkDropListDropped)="drop($event, pbls)">
    <mat-grid-tile *ngFor="let pbl of pbls" cdkDrag>
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-header" cdkDragHandle>
          <mat-card-title>
            <mat-form-field class="pbl-number">
              <input class="pbl-number-field" matInput placeholder="チケットID" [(ngModel)]="pbl.id">
            </mat-form-field>
            <mat-form-field class="pbl-title">
              <input matInput placeholder="PBL名" [(ngModel)]="pbl.title">
            </mat-form-field>
            <mat-form-field class="pbl-point">
              <input matInput placeholder="SP" [(ngModel)]="pbl.estimated">
            </mat-form-field>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="wrap">
            <mat-form-field class="example-form">
              <textarea matInput placeholder="受け入れ条件" class="example-textarea"></textarea>
            </mat-form-field>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, pbl.sbls)" >
              <div class="example-box" *ngFor="let sbl of pbl.sbls" cdkDrag>
                <mat-form-field class="sbl-label">
                  <mat-select placeholder="ラベル">
                    <mat-option *ngFor="let label of labels" [value]="label.id">
                        {{label.id}}.{{label.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="sbl-title">
                  <input matInput placeholder="SBL名" [(ngModel)]="sbl.title">
                </mat-form-field>
                <mat-form-field class="sbl-time">
                  <input matInput placeholder="時間" [(ngModel)]="sbl.estimated">
                </mat-form-field>
              </div>
              <button mat-mini-fab class="add-sbl-button" (click)="addSbl(pbl)"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-fab class="add-pbl-button" color="primary" (click)="addPbl()"><i class="fas fa-plus fa-lg"></i></button>
</div>
