<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px" cdkDropList (cdkDropListDropped)="drop($event, pbls)">
    <mat-grid-tile *ngFor="let pbl of pbls" [colspan]="2" [rowspan]="1" cdkDrag>
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-header" cdkDragHandle>
          <mat-card-title>
            <mat-form-field class="pbl-number">
              <input class="pbl-number-field" matInput placeholder="チケットID" [(ngModel)]="pbl.id">
            </mat-form-field>
            <mat-form-field class="pbl-title">
              <input matInput placeholder="PBL名" [(ngModel)]="pbl.title">
            </mat-form-field>
            <mat-form-field class="pbl-point">
              <input matInput placeholder="SP" [(ngModel)]="pbl.sp">
            </mat-form-field>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="wrap">
            <mat-form-field class="example-form">
              <textarea matInput placeholder="受け入れ条件" class="example-textarea"></textarea>
            </mat-form-field>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, pbl.sbls)" >
              <div class="example-box" *ngFor="let sbl of pbl.sbls" cdkDrag>
                <mat-form-field class="sbl-title">
                  <input matInput placeholder="SBL名" [(ngModel)]="sbl.title">
                </mat-form-field>
                
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
