<div class="grid-container">
  <h1 class="mat-h1">タスク投入支援</h1>
  <mat-grid-list class="grit-list" cols="1" rowHeight="580px" cdkDropList (cdkDropListDropped)="drop($event, pbls)">
    <mat-grid-tile *ngFor="let pbl of pbls; index as pblIndex" cdkDrag>
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-header" cdkDragHandle>
          <mat-card-title>
            <mat-form-field class="pbl-number">
              <input class="pbl-number-field" matInput placeholder="チケットID" [(ngModel)]="pbl.id">
            </mat-form-field>
            <mat-form-field class="pbl-title">
              <input matInput placeholder="PBL名" [(ngModel)]="pbl.title">
            </mat-form-field>
            <mat-form-field class="pbl-point">
              <input matInput placeholder="ポイント" type="number" [(ngModel)]="pbl.estimated">
            </mat-form-field>
            <mat-form-field class="pbl-estimated">
              <input matInput placeholder="見積時間" [(ngModel)]="pbl.estimatedTimeSum" disabled>
              <span matSuffix *ngIf="pbl.estimatedTimeSum" class="unit-pbl-estimated">&nbsp;h</span>
              <mat-label class="placeholder-pbl-estimated">見積時間</mat-label>
            </mat-form-field>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="remove(pblIndex, pbls, pbls)">削除</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="wrap">
            <mat-form-field class="example-form">
              <textarea matInput placeholder="受け入れ条件" class="example-textarea"></textarea>
            </mat-form-field>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, pbl.sbls)">
              <div class="example-box" *ngFor="let sbl of pbl.sbls; index as sblIndex" cdkDrag>
                <div>
                  <mat-form-field class="sbl-label">
                    <mat-select placeholder="ラベル" [(ngModel)]="sbl.label">
                      <mat-option *ngFor="let label of labels" [value]="label.id">
                        {{label.id}}.{{label.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="sbl-title">
                    <input matInput placeholder="SBL名" [(ngModel)]="sbl.title">
                  </mat-form-field>
                  <mat-form-field class="sbl-time">
                    <input matInput type="number" [(ngModel)]="sbl.estimated" (change)="sumEstimatedTime(pbl)">
                    <span matSuffix *ngIf="sbl.estimated">&nbsp;h</span>
                    <mat-label class="placeholder-sbl-time">時間</mat-label>
                  </mat-form-field>
                  <mat-form-field class="sbl-description" (click)="openDescriptionModal()">
                    <input matInput placeholder="説明文" [(ngModel)]="sbl.description">
                  </mat-form-field>
                </div>
                <div>
                  <button mat-icon-button class="more-button-sbl" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="remove(sblIndex, pbl.sbls, pbls); sumEstimatedTime(pbl)">削除</button>
                  </mat-menu>
                </div>
              </div>
              <button mat-icon-button class="add-sbl-button" color="accent" (click)="addSbl(pbl)"><i class="fas fa-plus-circle fa-2x"></i></button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-fab class="add-pbl-button" color="primary" (click)="addPbl()"><i class="fas fa-plus fa-2x"></i></button>
  <footer>
    <mat-grid-list class="footer-content" cols="8" rowHeight="60px">
      <mat-grid-tile>ストリーポイント合計：{{sumBy(pbls, 'estimated') || 0}}&nbsp;Pt</mat-grid-tile>
      <mat-grid-tile>見積合計：{{sumBy(pbls, 'estimatedTimeSum') || 0}}&nbsp;h</mat-grid-tile>
    </mat-grid-list>
  </footer>
</div>