.grid-container {
  margin: 20px;
}

.grit-list {
  min-height: 350px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dashboard-header {
  border-bottom-style: inset;
  border-bottom-color: currentColor;
  cursor: move;
  margin-bottom: 1em;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.example-list {
  width: 60%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  max-height: 420px;
  display: block;
  background: white;  
  border-radius: 4px;
  overflow: auto;
}

.example-box {
  padding: 0px 10px 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  height: 60px;
  margin: 3px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-form {
  width: 37%;
  margin: 0;
}

.example-textarea {
  height: 395px;
  width: 100%;
  margin: 0;
}
.pbl-number {
  height: 1em;
  width: 10em;
}

.pbl-title {
  height: 1em;
  width: 30em;
  margin-left: 1.5em;
}

.pbl-point {
  height: 1em;
  width: 5em;
  margin-left: 1.5em;
}

.pbl-estimated{
  position: absolute;
  right: 50px;
  height: 1em;
  width: 6em;
  margin-left: 1.5em;
  text-align: right;
  
}

.unit-pbl-estimated {
  color: rgba(0,0,0,.38);
}

.placeholder-pbl-estimated {
  margin-right: 2em;
}

.sbl-label {
  height: 1em;
  width: 10em;
}

.sbl-title {
  height: 1em;
  width: 20em;
  margin-left: 1.5em;
}

.sbl-time {
  height: 1em;
  width: 3.5em;
  margin-left: 1.5em;
  text-align: right;
}

.sbl-description {
  height: 1em;
  width: calc(100% - 33.5em - 4.5em);
  margin-left: 1.5em;
}

.sbl-description input{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder-sbl-time {
  margin-right: 1.3em;
}

.add-pbl-button {
  float: right;
  margin-right: 20px;
  margin-bottom: 74px;
  z-index: 1050;
}

.add-sbl-button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 1em;
}

footer {
  background-color: black;
  border-top: 1px solid #bbb;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  z-index: 1100;
}
