/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: rgb(242, 242, 242);
    overflow-y: scroll;
}

html, body{
    height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

.cdk-overlay-pane {
  margin-bottom: 50px !important;
}